$callouts: (
    note: ($blue-300, rgba($blue-000, .2), 'Note'),
    caution: ($yellow-300, rgba($yellow-000, .2), 'Caution'),
    warning: ($red-300, rgba($red-000, .2), 'Warning')
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            display: block;
            font-weight: 500;
            font-size: 1em;
            padding-bottom: .75rem;
        }
    }
}
