$callouts: (
    note: ($blue-300, rgba($blue-000, .2), 'Note'),
    caution: ($yellow-300, rgba($yellow-000, .2), 'Caution'),
    warning: ($red-300, rgba($red-000, .2), 'Warning')
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            display: block;
            font-weight: 500;
            font-size: 1em;
            padding-bottom: .75rem;
        }
    }
}

// IMPORTANT: Customizations must be defined in the local project's custom.scss file. This file does nothing in the theme.

// $callouts: (
//     note: ($blue-300, rgba($blue-000, .2), 'Note'),
//     caution: ($yellow-300, rgba($yellow-000, .2), 'Caution'),
//     warning: ($red-300, rgba($red-000, .2), 'Warning')
// );
//
// @each $class, $props in $callouts {
//     .#{$class} {
//         background: nth($props, 2);
//         border-left: $border-radius solid nth($props, 1);
//         border-radius: $border-radius;
//         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
//         padding: .8rem;
//
//         &::before {
//             color: nth($props, 1);
//             content: nth($props, 3);
//             display: block;
//             font-weight: 500;
//             font-size: 1em;
//             padding-bottom: .75rem;
//         }
//     }
// }

  .container{
    //justify-content: center;
    width:100%;
    height:100%;
    background-color:#fff;
    display:grid;
    grid-template-columns: 300px;
    grid-row: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-content: center;
 


  //
// Base styles
//

.card {
    flex-direction: column;
    display:flex;
    border-style: solid;
    border-radius: 8px;
    border-color: #f5ebeb;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 30px;
  }

  .card-title {
    //align-items: center;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    letter-spacing: -4%;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
  }
  
  .card-body {
    display: flex;
  }
  
  .card-text {
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color:#806F6F;
    letter-spacing: -4%;
    line-height: 100%;
    text-align: center;
  }

  .img-fluid {
    height: 150px;
    width: 150px;
}

//hover
  .card:hover {
    border-color: #ccc2c2;
  }
}

@media (min-width: 600px) {
    .container { grid-template-columns: 300px 300px; }
  }

  .resource {
    width: 200px;
    border-style: solid;
    border-radius: 8px;
    border-color: #f5ebeb;
    justify-content: center;
    float: right;
    padding: 20px 20px 20px;
}
