$body-font-family: "Inter", sans-serif;
//did not work to specify below here when changing heading styles, added as variable to theme _variables
//$header-font-family: "Poppins", sans-serif;
$red-000: #F72A30;
$link-color: $red-000;
$content-width: device-width; 
